<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <servlet>
        <servlet-name>parser</servlet-name>
        <servlet-class>servlets.ParserXmlServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parser</servlet-name>
        <url-pattern>/parser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>change</servlet-name>
        <servlet-class>servlets.ChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>change</servlet-name>
        <url-pattern>/change</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>saveEntry</servlet-name>
        <servlet-class>servlets.SaveEntryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveEntry</servlet-name>
        <url-pattern>/saveEntry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>done</servlet-name>
        <servlet-class>servlets.SaveToDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>done</servlet-name>
        <url-pattern>/done</url-pattern>
    </servlet-mapping>

</web-app>